$blue:    #5de874; //primary
$indigo:  #916fc8;
$purple:  #5d3b9c;
$pink:    #ab4578;
$red:     #ed1713; // danger
$orange:  #ffa053;
$yellow:  #ffdf7e;
$green:   #4fe49e; //success
$teal:    #9fffe2;
$cyan:    #85fbf9; //info
$gray-600: #4fe49e; //secondary